<!DOCTYPE html>
<html>
  <head>
    <title>Web Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'web-store-bundle' %>
  </head>

  <body>
    <!-- Update this line -->
    <%= react_component("SiteHeader", props: {shopping_cart_item_count: current_customer.shopping_cart_item_count}) %>

    <main role="main">
      <%= yield %>
    </main>
  </body>
</html>
